[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
include = ["coastsat*"]  # package names should match these glob patterns (["*"] by default)
exclude = ["coastsat.tests*"]  # exclude packages matching these glob patterns (empty by default)
namespaces = false  # to disable scanning PEP 420 namespaces (true by default)

[project]
name = "pkg_toml_test_2320sharon"
dynamic = ["readme"]
version = "0.0.19"
authors = [
  { name="Sharon Fitzpatrick", email="sharon.fitzpatrick23@gmail.com" },
  { name="Kilian Vos" },
]
# find` directive with `include` or `exclude`
description = "A Global shoreline mapping tool from satellite imagery"
dependencies = [ "scikit-image",
 "earthengine-api>=0.1.304",
  "matplotlib",
  "astropy",
  "notebook",
  "pyqt5",
  "scipy",
  "numpy<1.23.0"]
license = { file="LICENSE" }
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[tool.setuptools.dynamic]
readme = {file = ["README.md"]}

[project.urls]
"Homepage" = "https://github.com/kvos/CoastSat"
"Bug Tracker" = "https://github.com/kvos/CoastSat/issues"